<div *ngIf="isCameraExist; else noCameraExist">
  <div style="text-align:center">
    <div class="btn-group">
      <button class="button" (click)="takeSnapshot()">照相</button>
      <button class="button" (click)="changeWebCame(true)">切換相機</button>
      <button class="button" (click)="onOffWebCame()">開關相機</button>
      <button class="button" (click)="clear()">清空</button>
    </div>
    <br>
    <span>總金額: {{ this.totalPrice }}</span>
    <br>
    <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
  </div>

  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error }}</li>
    </ul>
  </div>
</div>

<ng-template #noCameraExist>
  Camera device not available
</ng-template>
